<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body style="background-color: #e2efea;">
  {% include "navbar.html" %}
  <h1 class="text-center my-3">Stock Market Data Analysis</h1>
  <h1 class="text-center my-3">Upload A JSON File </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card ">
          <div class="card-body" style="color:black; background-color: #a3cfbb;">
            <form action="/loadJSON/" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="date" class="form-label">Your File </label>
                <input class="form-control" type="file" name="json_file">
              </div class="text-center">

              <button type="submit" class="btn btn-dark mt-2">Upload</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>